// colors
$black: #000;
$white: #fff;
$blue: #1098F7;
$red: #ff0000;
$shadowDark: #333;

$linkBlue: #14b5d0;

// timeline
$timeline: #e4e4e4;
$timelineTitle: #3b3b3b;
$timelineDate: #585858;
$timelineDescription: #2e2e2e;

// widths
$desktop: 1124px;
$tablet: 767px;
$mobile: 600px;