@import "_normalize";
@import "_variables";
// modules
@import "modules/cover.scss";
@import "modules/about.scss";
@import "modules/experience.scss";
@import "modules/projects.scss";
@import "modules/footer.scss";

// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&family=Roboto+Mono:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: $white;
  width: 100%;
  height: 100%;
}

.container {
  margin: auto;
  max-width: $desktop;
}

.link {
  color: $linkBlue;
  text-decoration: none;
  font-weight: 600;
}